
html{
    font-size: 62.5%;
}

body{
    margin: 3rem;
    background-color: #F3F5FC;
}

h1{
    font-weight: bold;
    font-size: 2.4rem;
}

h2{
    font-size: 2.4rem;
}
p{
    font-size: 1.2rem;
    color: #495057;
}
textarea{
    font-size: 3.2rem;
    background-color: transparent;
    resize: none;
    border: none;
}

::placeholder {
    color: #0A3871;
  }

.btn1{
    width: 32.8rem;
    height: 6.7rem;
    background-color: #0A3871;
    color: #F3F5FC;
    font-size: 1.6rem;
    border: none;
    border-radius: 2.4rem;
    margin-right: 2.4rem;
}

.btn2{
    width: 32.8rem;
    height: 6.7rem;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 1.6rem;
    border: 1px solid #0A3871;
    border-radius: 2.4rem;
}

.btn3{
    width: 32.8rem;
    height: 6.7rem;
    background-color: #0A3871;
    color: #F3F5FC;
    font-size: 1.6rem;
    border: none;
    border-radius: 2.4rem;
    margin-right: 2.4rem;
    display: none;
}

.principal{
    display: flex;
}

.contenedor1{
    margin: 4rem 6rem;
}

.contenedor2{
    width: 40rem;
    border-radius: 32px;
    background-color: white ;
    box-shadow:10px 5px 5px rgba(0, 0, 0, 0.1);
    
}

.advertencia{
    display: flex;
    margin-bottom: 1rem;
}

.advertencia p{
    display: flex;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
}

.contenedor3{
    margin: 5rem 3rem 5rem 3rem;
    font-size: 3.2rem;
    font-family: monospace;
    background-color: transparent;
    resize: none;
    border: none;
}

.contenedor3 h1{
    margin:3rem 2rem 0rem 2rem;
    text-align: center;
}

.contenedor3 h2{
    margin:1rem 2rem 3rem 2rem;
    text-align: center;
}

